# Python / Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/

# Output binary files and test CBZs
*.xtc
*_sliced.cbz
*.cbz
output_xtc/
mangá/
Books/

# IDE & OS specific files
.vscode/
.idea/
.DS_Store
*.log
